@use "../foundation/variable" as *;
@use "../foundation/mixin" as *;

.p-works {
  padding: 1080px 24px;
}

.p-works__title {
  margin-bottom: 40px;
  font-size: 32px;
  font-family: $font-en;
  font-weight: 700;
  text-align: center;
}

.p-works__list {
  display: grid;
  gap: 32px;
  max-width: 1100px;
  margin: 0 auto;
  grid-template-columns: 1fr;

  @include mq(tb) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(pc) {
    grid-template-columns: repeat(3, 1fr);
  }
}
