* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background: #0d0d0d;
}

.spacer {
  height: 300vh;
}
